body{
    background-color: rgb(12, 46, 75);
    margin: 0;
}

.container{
    background-color: brown;
    color: white;
    margin: 0 auto 5px auto;
    /* fix responsive  */
    min-width: 600px; 
    
    max-width: 1200px;
    padding: 10px;
}

header img{
    width: 100px;
}
header h1{
    text-shadow: 0.1em 0.1em #333; 
}
header > h1, img{
    margin: auto 5px auto 5px ;
}


header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content {
    background-color: rgb(161, 161, 65);
    color: black;
}

.navbar{
    max-width: 1200px;
    height: 70px;
    background-color: blue;

}

.navbar > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;

}
nav ul > a{
    text-decoration: none;
}

nav ul li{
    background-color: rgb(161, 161, 65);
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.footer_content{
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 16px;
}

