body{
    background-color: rgb(12, 46, 75);
}

.container{
    background-color: brown;
    color: white;
    margin: 10px auto;
    /* fix responsive  */
    min-width: 600px; 
    
    max-width: 1200px;
    padding: 10px;
}

header img{
    width: 100px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content {
    background-color: rgb(161, 161, 65);
    color: black;
}

.navbar{
    max-width: 1200px;
    height: 70px;
    background-color: blue;

}

.navbar > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

nav ul li{
    background-color: rgb(161, 161, 65);
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    padding: 10px;
}

.footer_content{
    background-color: black;
    font-size: 12px;
}