{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProdeApp</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
</head>
<body>

    <header class="container ">
        <h1>ProdeApp</h1>
        <img src="{% static 'media/logo.png' %}" alt="">
    </header>

    <nav class="container navbar">
        <ul>
            <a href="/partidos/">
                <li >Partidos</li>
            </a>
            
            <a href="/tabla/">
                <li >Tabla</li>
            </a>

            <a href="/amigos/">
                <li >Amigos</li>
            </a>

            <a href="/historial/">
                <li>Historial</li>
            </a>

            <a href="/reglas/">
                <li>Reglas</li>
            </a>
        </ul>
    </nav>

    <main class="container main_content">
        {% block main_content %}
        {{param}}
        {% endblock %}
    </main>

    <footer class="container footer_content">
        <p>Deployed by Lautaro Ramírez | GitHub - Linkedin - Twitter</p>
    </footer>

</body>
</html>